*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./assets/img/Las-Vegas-Casinos-210111110557001-1600x800.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
}